.a1{
    color : red;
    text-align: center;
    text-transform: capitalize;
    font-style: italic;
}
.a2{
     color : darkblue;
     text-align: left;
     text-transform: lowercase;
     font-style: normal;
}
.a3{
  color : darkorchid;
  text-align: right;
     text-transform: uppercase;
     font-style: oblique;
}

}